---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

const posts = await Astro.glob('./posts/*.md')
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Content>
      <ul>
        {posts.map(post => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))}
      </ul>
    </Content>
    <Footer />
  </Body>
</html>
