---
const today = new Date()
---

<footer class="text-[#F27255] dark:text-[#F27255] p-4 text-center">
  &copy; {today.getFullYear()}
  <a href="/" class="hover:underline text-solarized-blue dark:text-nightowl-blue">withLinda.dev</a>. 
</footer>
