---
import HeaderLink from './HeaderLink.astro'
import ThemeToggleButton from './ThemeToggleButton.tsx'
import { ABOUT_URL, SITE_TITLE } from '../config'
import GithubIcon from './GithubIcon.tsx'
import MobileMenu from './MobileMenu'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md bg-everforest-bg/80 dark:bg-everforest-bg/80 border-b border-everforest-border-subtle dark:border-white/30">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      {/* Site Title/Home Link */}
      <a href="/" class="group">
        <h2 class="font-semibold tracking-wide p-2 text-lg text-everforest-fg dark:text-everforest-fg">
          {SITE_TITLE}
        </h2>
      </a>

      {/* Desktop Navigation Links */}
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href={ABOUT_URL}>About</HeaderLink>
        <HeaderLink 
          href="https://github.com/withLinda/withLinda.dev"
          target="_blank"
        >
          <GithubIcon client:load />Source
        </HeaderLink>
      </div>

      {/* Right-side items */}
      <div class="flex-1"></div>
      <ThemeToggleButton client:load />

      {/* Mobile Menu Button */}
      <div class="md:hidden">
        <MobileMenu client:visible>
          <HeaderLink href={ABOUT_URL}>About</HeaderLink>
          <HeaderLink 
            href="https://github.com/withLinda/withLinda.dev"
            target="_blank"
          >
            <GithubIcon client:load />Source
          </HeaderLink>
        </MobileMenu>
      </div>
    </nav>
  </div>
</header>
